<div class="main-div" *ngIf="classDetail">
    <span class="back" (click)="redireccionar()">Volver Clases</span> 
    <br><br>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar>       
          <ng-template #otherImage>
            <img src="" class="header-image">
          </ng-template>
        </div>
        <mat-card-title>{{classDetail.comision}}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <br>
        <p>Dias de cursada: {{classDetail.diasClases}}</p>
        <p>Fecha Inicio: {{classDetail.fechaInicio}}</p>
        <p>Fecha Fin: {{classDetail.fechaFin}}</p>
      </mat-card-content>
    </mat-card>
  </div>
