<h1 mat-dialog-title>  Clases     </h1>

<div mat-dialog-content>   
      <form [formGroup]="classesForm">        
        <div class="row">


          <div class="col-6" >
            
                <mat-label>Dias Clases:</mat-label>
                <mat-checkbox formControlName="lunes">Lunes</mat-checkbox>
                <mat-checkbox formControlName="martes">Martes</mat-checkbox>
                <mat-checkbox formControlName="miercoles">Miércoles</mat-checkbox>
                <mat-checkbox formControlName="jueves">Jueves</mat-checkbox>
                <mat-checkbox formControlName="viernes">Viernes</mat-checkbox>

                <div [ngClass]="{ 'dias-no-seleccionados': formTouched && noDaysSelected  }">
                  Debe seleccionar al menos un día
                </div>            
          </div>


            <div class="col-6">
              <mat-form-field class="w-100">
                <mat-label>Fecha Inicio</mat-label>  
                <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
                <mat-error>
                  {{ classesForm.get("fechaInicio")?.errors | formErrors }}
                </mat-error>
              </mat-form-field>
            </div>  

            <div class="col-6">
                <mat-form-field class="w-100">
                  <mat-label>Fecha Fin</mat-label>
                  <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin">
                  <mat-hint>MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="pickerFin"></mat-datepicker-toggle>
                  <mat-datepicker #pickerFin></mat-datepicker>
                  <mat-error>
                    {{ classesForm.get("fechaFin")?.errors | formErrors }}
                  </mat-error>
                </mat-form-field>
              </div>              
            <div class="col-6">
                <mat-form-field class="w-100"> 
                    <mat-label>Curso - Selecciona una opción</mat-label>
                    <mat-select formControlName="courseId">
                        <mat-option *ngFor="let curso of (cursosList$ | async)" [value]="curso.id">{{ curso.nombre }}</mat-option>
                    </mat-select>

                    <!--input formControlName="courseId" matInput /-->
                    <mat-error>
                      {{ classesForm.get("courseId")?.errors | formErrors }}
                    </mat-error>
                  </mat-form-field>
            </div>
        </div>
         
      </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button (click)="onSubmit()" cdkFocusInitial color="primary">Guardar</button>
  </div>


