.example-additional-selection {
    opacity: 0.75;
    font-size: 0.75em;
  }

  .dias-no-seleccionados {
    border: 2px red;  // Puedes personalizar esto según tus necesidades
    background-color: #ffe6e6;  // Puedes personalizar esto según tus necesidades
  }