<div class="main-div" *ngIf="studentsDetail">
  <span class="back" routerLink="students">Volver Alumnos</span> 
  <br><br>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar>       
        <ng-template #otherImage>
          <img src="" class="header-image">
        </ng-template>
      </div>
      <mat-card-title>{{studentsDetail | fullname}}</mat-card-title>
      <mat-card-subtitle>Id: {{studentsDetail.id}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <br>
      <p>Email: {{studentsDetail.email}}</p>
      <p>Cursando: {{studentsDetail.cursando}}</p>
    </mat-card-content>
  </mat-card>
</div>
