<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Nombre Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Capacidad Column -->
    <ng-container matColumnDef="capacidad">
        <th mat-header-cell *matHeaderCellDef> Capacidad </th>
        <td mat-cell *matCellDef="let element"> {{element.capacidad}} </td>
      </ng-container>
  
    <!-- Activo Column -->
    <ng-container matColumnDef="activo">
      <th mat-header-cell *matHeaderCellDef> Activo </th>
      <td mat-cell *matCellDef="let element"> 
        <mat-icon *ngIf="element.activo" style="color:green;">check circle icon</mat-icon>
        <mat-icon *ngIf="!element.activo" style="color: red;">cancel icon</mat-icon> 
    </td>
       
    </ng-container>
  
    <ng-container matColumnDef="acciones">
        <th mat-header-cell *matHeaderCellDef>Acciones</th>
    
        <td mat-cell *matCellDef="let element">
          <button mat-icon-button color="primary" (click)="editCourse.emit(element.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteCourse.emit(element.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <!--mat-paginator [pageSizeOptions]="[10, 20, 25]" showFirstLastButtons aria-label="Select page of periodic users">
    </mat-paginator-->
  </table>
  
  
