<mat-toolbar class="flex justify-content-between" color="primary">
    <button mat-icon-button class="example-icon" (click)="toggleSidebar.emit()" 
        aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Coder Admin</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button (click)="logout()">
      <mat-icon matListItemIcon>exit_to_app</mat-icon>
    </button>

  </mat-toolbar>
  

