<div>
  <p>
    {{ fullName$ | async }}
    <br />
    {{ email$ | async }}
  </p>
</div>
<mat-nav-list>
    <mat-list-item routerLink="home">
      <a>CoderHouse</a>
    </mat-list-item>
  
    <mat-list-item [activated]="true" routerLink="courses">
      <a>Cursos</a>
    </mat-list-item>
    <mat-list-item routerLink="classes">
      <a>Clases</a>
    </mat-list-item>
    <mat-list-item routerLink="students">
      <a>Alumnos</a>
    </mat-list-item>
    <mat-list-item routerLink="enrollments">
      <a>Inscripciones</a>
    </mat-list-item>
    <mat-list-item  routerLink="users">
      <a>Usuarios</a>
    </mat-list-item>

    <mat-list-item (click)="logout()">
      <a>Cerrar sesión</a>
    </mat-list-item>
    
  </mat-nav-list>