<aside>
    <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Destinos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Paquetes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Pre-Viaje</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled">Admin</a>
        </li>
      </ul>     
</aside>
