
<div class="page-container">
  <div class="content-wrap">
        <div class="row">
          <div class="col-2"></div>
          <div class="col-10">
            <div class="row">
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="./assets/salta.jpg" class="card-img-top" alt="Salta">
                <div class="card-body">
                  <h5 class="card-title">Salta</h5>
                  <p class="card-text">Salta es una invitación a la aventura, por la diversidad de su paisaje y sus grandes extensiones de territorio casi virgen.</p>
                  <a href="#" class="btn btn-primary">Conocer más</a>
                </div>              
              </div>   
            </div>
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="./assets/cordoba.jpg" class="card-img-top" alt="Córdoba">
                <div class="card-body">
                  <h5 class="card-title">Córdoba</h5>
                  <p class="card-text">Córdoba es un destino ideal para experimentar las más diversas sensaciones que a un viajero le puedan provocar placer. </p>
                  <a href="#" class="btn btn-primary">Conocer más</a>
                </div>              
              </div> 
            </div>
            <div class="col-4">
              <div class="card" style="width: 18rem;">
                <img src="./assets/iguazu.jpg" class="card-img-top" alt="Cataratas">
                <div class="card-body">
                  <h5 class="card-title">Iguazú</h5>
                  <p class="card-text">Las magníficas Cataratas del Iguazú, una de las Siete Maravillas del Mundo...</p>
                  <a href="#" class="btn btn-primary">Conocer más</a>
                </div>              
              </div> 
            </div>
          </div> 
                     
        </div>
  </div>
</div>
<!--<ng-content></ng-content>-->
