<h1 mat-dialog-title>  Inscripciones     </h1>

<div mat-dialog-content>   
      <form [formGroup]="enrollmentsForm">        
        <div class="row">


            <div class="col-6">
                <mat-form-field class="w-100"> 
                    <mat-label>Curso - Selecciona una opción</mat-label>
                    <mat-select formControlName="courseId"  [(value)]="selectedValue" (selectionChange)="onSelectionChange($event)">
                      <mat-option *ngFor="let course of cursosList$ | async" [value]="course.id">
                        {{ course.nombre }}
                      </mat-option>
                    </mat-select>

                    <!--input formControlName="courseId" matInput /-->
                    <mat-error>
                      {{ enrollmentsForm.get("courseId")?.errors | formErrors }}
                    </mat-error>
                  </mat-form-field>
            </div>

            <div class="col-6">
                <mat-form-field class="w-100"> 
                    <mat-label>Clases - Selecciona una opción</mat-label>
                    <mat-select formControlName="classId">
                        <mat-option *ngFor="let clase of (classesList$ | async)" [value]="clase.id">{{ clase.diasClases }}</mat-option>
                    </mat-select>

                    <!--input formControlName="courseId" matInput /-->
                    <mat-error>
                      {{ enrollmentsForm.get("classId")?.errors | formErrors }}
                    </mat-error>
                  </mat-form-field>
            </div>    
            <div class="col-6">
                <mat-form-field class="w-100">
                  <mat-label>Escriba nombre para cargar alumnos</mat-label>
                  <input matInput [formControl]="searchControl" placeholder="Search">
                </mat-form-field> 

                <mat-form-field class="w-100">
                  <mat-label>Selecciona un alumno</mat-label>
                  <mat-select formControlName="studentId">
                    <mat-option *ngFor="let item of filteredItems" [value]="item.id">
                      {{ item | fullname }}
                    </mat-option>
                  </mat-select>

                  <mat-error>
                    {{ enrollmentsForm.get("studentId")?.errors | formErrors }}
                  </mat-error>
                </mat-form-field>             

              </div>              
            
        </div>
         
      </form>
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancelar</button>
    <button mat-button cdkFocusInitial color="primary" (click)="onSubmit()">Guardar</button>
  </div>



